@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto-Regular';
}

body {
  background-color: #F06529;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #191717;
  padding: 0.5rem;
}

#headerTitle {
  color: #DEE2F1;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #DEE2F1;
  padding: 0.5rem;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.navLink a {
  text-decoration: none;
  color: #191717;
}

#banner {
  padding: 1rem;
  background-color: #191717;
  color: #DEE2F1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.bannerItem {
  padding: 0.5rem;
}

#banerImg {
  width: 300px;
  border-radius: 30px;
}

#suVida {
  background-color: #DEE2F1;
  padding: 0.5rem;
}

#suVida1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

#img-su-vida {
  width: 300px;
  border-radius: 30px;
}

#art1 {
  width: 350px;
  padding: 3rem;
  border-left: #F06529 40px solid;
  padding-left: 2rem;
  font-size: 1em;
}

#suVida2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

#art2 {
  padding: 1rem;
  width: 600px;
  text-align: center;
  font-size: large;
  padding-right: 4rem;
  border-right: 40px solid #2955F0;
}

#tra1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
  color: #DEE2F1;
  background-color: #F06529;
}

#tra1 img {
  width: 350px;
}

.tra1-item {
  margin-top: 10px;
}

#tra2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2955F0;
  flex-wrap: wrap;
  padding: 5rem;
  color: #DEE2F1;
}

#tra2 img {
  width: 350px;
}

#tra2 p {
  width: 300px;
}

footer {
  color: #DEE2F1;
  background-color: #191717;
  padding: 1rem;
  text-align: center;
}

.rotate-diagonal-right:hover {
  animation: rotate-diagonal-right 0.9s;
}

@keyframes rotate-diagonal-right {
  0% {
    transform: rotate3d(1, 1, 0, 0deg)
  }

  50% {
    transform: rotate3d(1, 1, 0, -180deg)
  }

  100% {
    transform: rotate3d(1, 1, 0, -360deg)
  }
}

.tracking-in-expand-forward-top:hover {
  animation: tracking-in-expand-forward-top 3s linear both
}

@keyframes tracking-in-expand-forward-top {
  0% {
    letter-spacing: -.2em;
    transform: translateZ(-700px) translateY(-100px);
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}

.vibrate:hover {
  animation: vibrate 1.5s linear both
}

@keyframes vibrate {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}